$primary : hsl(158, 36%, 37%);
$secondary : hsl(30, 38%, 92%);
$info : hsl(212, 21%, 14%);
$success : hsl(228, 12%, 48%);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body{
    background-color: $secondary;
}
.card{
    width: 575px;
}

.card-bg{
    background-color: white;
}

.text-1{
    letter-spacing: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.heading{
    font-family: 'Fraunces', serif;
}

.text-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.price-1{
    font-family: 'Fraunces', serif;
}

.price-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: line-through;
}

.cart-btn{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}